@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


body{
  margin: 0;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  height: 100vh;
}

.navbar{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-around;
    align-items: center;
    background-color: #ffff;
    overflow: hidden;
}

.logo{
  font-size: 0.8rem;
  font-weight: bold;
}

ul{
  display: flex;
  gap: 20px;
}

nav li{
  display: flex;
}


li a{
  list-style-type: none;
   text-decoration: none;
   font-weight: bold;
   color: black;
   font-size: 0.8rem;
}



.overall{
  margin-top: 200px;
  width: 100%;
  align-items: center;
}

.first-div{
 width: 40%;
 margin-left: 261px;
}

.second-div{
  width: 50%;
  margin-left: 261px;
  margin-top: 25px;
}

.second-text{
  font-size: 1rem;
  color: gray;
  line-height: 1.5;
}

.text-and-icons{
  margin-top: 50px;
display: flex;
flex-direction: row;
gap: 25px;
margin-left: 261px;
}

.text-and-icons p{
  font-size: 0.9rem;
  color: gray;

}
.first-text{
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
 }

 .first-button{
  margin-left: 261px;
  border-radius: 8px;
  margin-top: 45px;
  padding: 10px 37px;
  background-color: black;
  color: white;
  font-size: 0.96rem;
  cursor: pointer;
 }


@media screen and (max-width: 900px) {
  .overall {
    width: 90%;
  }

  .first-div {
    width: 98%;
    margin-left: 20px;
  }

  .second-div {
    width: 100%;
    margin-left: 20px;
  }

  .text-and-icons {
    margin-left: 20px;
  }

  .first-button {
    margin-left: 20px;
  }
}



 .second-page{
  width: 100%;
  margin-top: 35px;
 align-items: center;
  text-align: center;
  justify-content: center;
 }

 .firstimg{
  width: 800px;
  height: auto;
  margin: 0 auto;
  border: 37px solid #3131313f;
  border-radius: 10px;
  border-bottom: none;
 }
 
 @media screen and (max-width: 900px) {
  .firstimg {
    width: 80%;
    height: auto;
  }
}


.third-page{
  margin-top: 100px;
  width: 637px;
  margin-left: 221px ;
}

.title{
  line-height: 0;
  font-size: 2rem;
}

.subtitle{
  font-size: 2rem;
}  


@media screen and (max-width: 900px) {
  .third-page {
    width: 90%;
    height: auto;
    margin-left: 20px;
  }
  
  .title{
    font-weight: lighter;
    font-size: 1.5rem;
  }

  .subtitle{
    font-weight: lighter;
    font-size: 1.5rem;
  }

}
.titlethree{
  font-weight: bold;
}



.thirdpart{
  color: gray;
  font-size: 13px;
}

.strongs{
  color: black;
  font-weight: bold;
}


.raa{
  font-size: 1.4rem;
  border-radius: 5px;
  color: rgba(152, 16, 250);
  border: 4px solid rgba(229, 197, 254);
  background-color: rgba(229, 197, 254);
}

.him{
  font-size: 1.4rem;
  border-radius: 5px;
  color: rgba(231, 0, 11);
  border: 4px solid rgba(254, 242, 242);
  background-color: rgba(254, 242, 242);
}

.sui{
  font-size: 1.4rem;
  border-radius: 5px;
  color: rgba(79, 57, 246);
  border: 4px solid rgba(238, 242, 255);
  background-color: rgba(238, 242, 255);
}

.shine{
  font-size: 1.4rem;
  border-radius: 5px;
  color: rgba(225, 113, 0);
  border: 4px solid rgba(251, 232, 204);
  background-color: rgba(251, 232, 204);
}

.touchheart{
  color: rgba(236, 5, 67);
  font-size: 30px;
}

.sats{
  color: rgba(20, 172, 77);
  font-size: 30px;
}

.clock{
  color: rgba(34, 102, 252);
  font-size: 30px;
}

.people{
  color: rgba(152, 16, 250);
  font-size: 30px;
}

.fourth-page{
  justify-content: center;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

.fourth-page div{
  width: 175px;
  padding: 20px;
}

.fourth-page p{
  font-size: 13px;
  color: gray;
}

.line{
  margin-top: 30px;
  width: 86%;
  height: 1px;
  color: gray;
}

.fifth-page{
  margin-top: 100px;
  width: 666px;
  margin-left: 221px
}

.fifth-page h2{
    line-height: 0;
  font-size: 2rem;
}

.fifth-page p{
  color: gray;
  font-size: 13px;
}


@media screen and (max-width: 900px) {
  .fifth-page {
    width: 90%;
    height: auto;
    margin-left: 20px ;
  }

  .fifth-page h2{
    font-size: 1.5rem;
    color: black;
    font-weight: 300;
  }
}

.sixth-page{
  margin-top: 100px;
}
.sixth-page-first{
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
}

.sixth-page-second{
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 50px;
}


.sixth-page-first div{
  width: 175px;
  padding: 20px;
}

.sixth-page-second div{
  width: 175px;
  padding: 20px;
}

.touchheartrobot{
  color: rgba(152, 16, 250);
  font-size: 40px;
}

.touchhearttag{
  color: rgba(25, 95, 252);
  font-size: 40px;
}

.touchheartmessage{
  color: rgba(0, 166, 62);
  font-size: 40px;
}

.user-icon{
  color: rgba(245, 80, 10);
  font-size: 40px;
}

.mlock-icon{
  color: rgba(79, 58, 246);
  font-size: 40px;
}

.search-icon{
  color: rgba(1, 150, 137);
  font-size: 40px;
}

.engine-icon{
  color: rgb(230, 0, 118);
  font-size: 40px;
}

.sixth-page p{
  font-size: 13px;
  color: grey;
}